.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  height: 60px;
  /* Reduced from 80px to move things up slightly */
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.headerGroup {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
}

.nav {
  color: var(--sub-color);
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Add padding-bottom to shift the visual center upwards */
  padding-bottom: 15vh;
}



/* Mobile Responsiveness */
@media (max-width: 1024px) {
  .header {
    display: none;
  }
}